footer
  .container-fluid
    .row
      .col-12
        .b-copyright
          p Photo album 2018

link(href='css/bundle.css', rel='stylesheet')
script(type="text/javascript", src="https://maps.google.com/maps/api/js?key=AIzaSyAOBzflcpLUFRLiPrYnRVrKWRGUh0vRURI")
script(src="js/bundle.js")