header.site-header
  .container-fluid
    .row
      //.col-xs-12.col-sm-6.col-md-5.col-lg-6
      //  a.b-logo(href='#', title='')
      //    img.img-fluid(src='img/logo.png', alt='')
      .col-12.text-center
        nav
          ul
            li
              a(href="index.html") Home
            li
              a(href="photographers.html") Our photographers
            li
              a(href="contacts.html") Contact
