.author.text-center
  h2 Our people
  .people-container.container
    .row
      .col-xs-6.col-sm-6.col-md-4.author-item
        a.author-avatar(href="user-page.html", title="Miya Tegan's albums")
          img(src="images/gallery-single-34.jpg", class="img-fluid", alt="Miya Tegan")
          .author-name.
            Miya Tegan
          .author-album 05 albums
      .col-xs-6.col-sm-6.col-md-4.author-item
        a.author-avatar(href="user-page.html", title="Ophelia Harmoni's albums")
          img(src="images/gallery-single-33.jpg", class="img-fluid", alt="Ophelia Harmoni")
          .author-name.
            Ophelia Harmoni
          .author-album 10 albums
      .col-xs-6.col-sm-6.col-md-4.author-item
        a.author-avatar(href="user-page.html", title="Lilia Kimora's albums")
          img(src="images/gallery-single-36.jpg", class="img-fluid", alt="Lilia Kimora")
          .author-name.
            Lilia Kimora
          .author-album 13 albums
      .col-xs-6.col-sm-6.col-md-4.author-item
        a.author-avatar(href="user-page.html", title="Ellis Kensington's albums")
          img(src="images/gallery-single-30.jpg", class="img-fluid", alt="Ellis Kensington")
          .author-name.
            Ellis Kensington
          .author-album 05 albums
      .col-xs-6.col-sm-6.col-md-4.author-item
        a.author-avatar(href="user-page.html", title="Ingrid Aislinn's albums")
          img(src="images/gallery-single-28.jpg", class="img-fluid", alt="Ingrid Aislinn")
          .author-name.
            Ingrid Aislinn
          .author-album 09 albums
      .col-xs-6.col-sm-6.col-md-4.author-item
        a.author-avatar(href="user-page.html", title="Natalee Sharon's albums")
          img(src="images/gallery-single-31.jpg", class="img-fluid", alt="Natalee Sharon")
          .author-name.
            Natalee Sharon
          .author-album 12 albums

  a.btn(href="#") look other people