.search-bar
   form.search-bar__form(method='get', action='/')
     input.search-bar__input(autocomplete='off', type='text', name='search', value='', placeholder='Awesome search ...')
   button.search-bar__clear.search-bar__clear.hide
     i ×