.user-profile
  .container-fluid
    .row
      .col-xs-4.col-sm-4
        .author__avatar
          img(src="images/gallery-single-34.jpg", alt="Miya Tegan")

      .col-xs-8.col-sm-8
        .user-profile__desc
          h4 Miya Tegan
          .user-profile__text
           p This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem qus bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
          ul.social-list
            li
              a(href="mailto:info@miyategan.com", target="_blank") info@miyategan.com
            li
              a(href="https://twitter.com/", target="_blank") https://twitter.com/MiyaTegan
            li
              a(href="https://www.facebook.com/", target="_blank") https://www.facebook.com/miya.tegan
            li
              a(href="https://www.linkedin.com/", target="_blank") https://www.linkedin.com/miyategan
            li
              a(href="https://www.instagram.com/", target="_blank") https://www.instagram.com/miyategan
