.user-albums
  .container-fluid
    .tag-filter
      p.tag-filter__title Albums
      ul.tag-filter__list.tags
        li
          a(href="#").tag.active All
        li
          a(href="#").tag Travels
        li
          a(href="#").tag Bus
        li
          a(href="#").tag Nature
    .user-albums__list
      .user-albums__item
        .user-albums__img
          a(href="user-album-page.html")
            img(src="images/gallery-single-3.jpg", class="img-fluid", alt="Round trip")
        .user-albums__desc
          a(href="user-album-page.html").user-albums__title Round trip
          ul.user-albums__tags.tags
            li.tag Travels
            li.tag Nature
            li.tag Bus
          .sticky
            .user-albums__author
              span Author: Miya Tegan
            .user-albums__stat
              span.thumb(title="rating") 102
              span.pre-eye(title="album views") 105

      .user-albums__item
        .user-albums__img
          a(href="#")
            img(src="images/gallery-single-7.jpg", class="img-fluid", alt="Round trip")
        .user-albums__desc
          a(href="#").user-albums__title Round trip
          ul.user-albums__tags.tags
            li.tag Travels
            li.tag Nature
            li.tag Bus
            li.tag Stop
            li.tag bird
          .sticky
            .user-albums__author
              span Author: Miya Tegan
            .user-albums__stat
              span.thumb(title="rating") 102
              span.pre-eye(title="album views") 105


      .user-albums__item
        .user-albums__img
          a(href="#")
            img(src="images/gallery-single-4.jpg", class="img-fluid", alt="Round trip")

        .user-albums__desc
          a(href="#").user-albums__title Round trip
          ul.user-albums__tags.tags
            li.tag Travels
            li.tag Nature
            li.tag Bus
          .sticky
            .user-albums__author
              span Author: Miya Tegan
            .user-albums__stat
              span.thumb(title="rating") 102
              span.pre-eye(title="album views") 105

      .user-albums__item
        .user-albums__img
          a(href="#")
            img(src="images/gallery-single-24.jpg", class="img-fluid", alt="Round trip")
        .user-albums__desc
          a(href="#").user-albums__title Round trip
          ul.user-albums__tags.tags
            li.tag Travels
            li.tag Nature
            li.tag Bus
            li.tag Stop
            li.tag bird
          .sticky
            .user-albums__author
              span Author: Miya Tegan
            .user-albums__stat
              span.thumb(title="rating") 102
              span.pre-eye(title="album views") 105

      .user-albums__item
        .user-albums__img
          a(href="#")
            img(src="images/gallery-single-17.jpg", class="img-fluid", alt="Round trip")
        .user-albums__desc
          a(href="#").user-albums__title Round trip
          ul.user-albums__tags.tags
            li.tag Travels
            li.tag Nature
            li.tag Bus

          .user-albums__author
            span Author: Miya Tegan
          .user-albums__stat.sticky
            span.thumb(title="rating") 102
            span.pre-eye(title="album views") 105
      .user-albums__item
        .user-albums__img
          a(href="#")
            img(src="images/gallery-single-16.jpg", class="img-fluid", alt="Round trip")
        .user-albums__desc
          a(href="#").user-albums__title Round trip
          ul.user-albums__tags.tags
            li.tag Travels
            li.tag Nature
            li.tag Bus
            li.tag Stop
            li.tag bird
          .sticky
            .user-albums__author
              span Author: Miya Tegan
            .user-albums__stat
              span.thumb(title="rating") 102
              span.pre-eye(title="album views") 105
      .user-albums__item
        .user-albums__img
          a(href="#")
            img(src="images/gallery-single-15.jpg", class="img-fluid", alt="Round trip")
        .user-albums__desc
          a(href="#").user-albums__title Round trip
          ul.user-albums__tags.tags
            li.tag Travels
            li.tag Nature
            li.tag Bus
            li.tag Stop
            li.tag bird
          .sticky
            .user-albums__author
              span Author: Miya Tegan
            .user-albums__stat
              span.thumb(title="rating") 102
              span.pre-eye(title="album views") 105