.user-album-page
  .container-fluid
    .row
      .col-xs-4.col-sm-4.col-md-3.user-album__sidebar
        .author__info
          a.author__name(href="user-page.html") Miya Tegan

          .author__avatar
            img(src="images/gallery-single-34.jpg", alt="Miya Tegan")
        .user-albums__desc
          .user-albums__title Round trip
          ul.user-albums__tags.tags
            li.tag Travels
            li.tag Nature
            li.tag Bus
          .user-albums__stat
            span.thumb(title="rating") 102
            span.pre-eye(title="album views") 105
          .user-albums__date
            span Published:
            span.date January 3, 2018
        a(href="#").btn.btn-rate
          span Rate album

      .col-xs-8.col-sm-8.col-md-9.user-album__content
        .user-album__list
          .user-album__item
            a(href="user-album-page.html")
              img(src="images/gallery-single-3.jpg", class="img-fluid", alt="Round trip")
          .user-album__item
            a(href="user-album-page.html")
              img(src="images/gallery-single-3.jpg", class="img-fluid", alt="Round trip")
          .user-album__item
            a(href="user-album-page.html")
              img(src="images/gallery-single-3.jpg", class="img-fluid", alt="Round trip")
          .user-album__item
            a(href="user-album-page.html")
              img(src="images/gallery-single-3.jpg", class="img-fluid", alt="Round trip")
          .user-album__item
            a(href="user-album-page.html")
              img(src="images/gallery-single-3.jpg", class="img-fluid", alt="Round trip")
          .user-album__item
            a(href="user-album-page.html")
              img(src="images/gallery-single-3.jpg", class="img-fluid", alt="Round trip")
          .user-album__item
            a(href="user-album-page.html")
              img(src="images/gallery-single-3.jpg", class="img-fluid", alt="Round trip")
          .user-album__item
            a(href="user-album-page.html")
              img(src="images/gallery-single-3.jpg", class="img-fluid", alt="Round trip")
          .user-album__item
            a(href="user-album-page.html")
              img(src="images/gallery-single-3.jpg", class="img-fluid", alt="Round trip")
          .user-album__item
            a(href="user-album-page.html")
              img(src="images/gallery-single-3.jpg", class="img-fluid", alt="Round trip")

