doctype html
html(lang="uk")
  include components/_head
  body
    include components/_header
    main
      include components/_banner
      include components/_people
      include components/_contacts
    include components/_footer

