doctype html
html(lang="uk")
  include components/_head
  body
    include components/_header
    main
      include components/_search
      include components/_filter
      include components/_user-albums-main
      include components/_photographers
    include components/_footer

